.main_div_card_with_animation {
    position: relative;
    overflow: hidden;
}

.light {
    position: absolute;
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    filter: blur(100px);
    -webkit-filter: blur(100px);
    /* background-color: rgba(255, 39, 223, 0.51); */
    transition: transform 0.1s ease-out, opacity 0.3s ease-out;
    pointer-events: none;
    z-index: 10;
    top: 0; /* Fixed at the top */
    left: 0;
}